[submodule "reference/litellm"]
	path = reference/litellm
	url = https://github.com/BerriAI/litellm.git
[submodule "reference/LLMRouter"]
	path = reference/LLMRouter
	url = https://github.com/ulab-uiuc/LLMRouter.git
[submodule "reference/NadirClaw"]
	path = reference/NadirClaw
	url = https://github.com/doramirdor/NadirClaw.git
